<div class="container">
  <form ngNativeValidate (ngSubmit)="guardar()" #form="ngForm">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">EDITAR USUARIO</h4>
      </div>
      <div class="card-body">
        <label for="idPedido"
          >ID USUARIO <small style="color: red">*</small></label
        >
        <input
          type="number"
          class="form-control"
          name="id"
          placeholder="Ingresa el nuevo ID"
          [(ngModel)]="usuario.id"
          required=""
          disabled=""
          #id="ngModel"
        />
        <div *ngIf="id.invalid && id.touched">
          <small style="color: red"
            >El campo ID es obligatorio y debe ser válido.</small
          >
        </div>

        <label for="total">NOMBRE <small style="color: red">*</small></label>
        <input
          type="text"
          name="nombre"
          class="form-control"
          placeholder="Ingresa el NOMBRE"
          [(ngModel)]="usuario.nombre"
          (keydown)="validacionCaracteres($event)"
          required=""
          #nombre="ngModel"
        />
        <div *ngIf="nombre.invalid && nombre.touched">
          <small style="color: red"
            >El campo NOMBRE es obligatorio y debe ser válido.</small
          >
        </div>

        <label for="total"
          >APELLIDO PATERNO <small style="color: red">*</small></label
        >
        <input
          type="text"
          name="app"
          class="form-control"
          placeholder="Ingresa el APELLIDO PATERNO"
          [(ngModel)]="usuario.app"
          (keydown)="validacionCaracteres($event)"
          required=""
          #app="ngModel"
        />
        <div *ngIf="app.invalid && app.touched">
          <small style="color: red"
            >El campo APELLIDO PATERNO es obligatorio y debe ser válido.</small
          >
        </div>

        <label for="total"
          >APELLIDO MATERNO <small style="color: red">*</small></label
        >
        <input
          type="text"
          name="apm"
          class="form-control"
          placeholder="Ingresa el APELLIDO MATERNO"
          (keydown)="validacionCaracteres($event)"
          [(ngModel)]="usuario.apm"
          required=""
          #apm="ngModel"
        />
        <div *ngIf="apm.invalid && apm.touched">
          <small style="color: red"
            >El campo APELLIDO MATERNO es obligatorio y debe ser válido.</small
          >
        </div>

        <label for="status">SEXO <small style="color: red">*</small></label>
        <select
          name="sexo"
          class="form-control"
          [(ngModel)]="usuario.sexo"
          required=""
          #sexo="ngModel"
        >
          <option value="MASCULINO">MASCULINO</option>
          <option value="FEMENINO">FEMENINO</option>
          <option value="N/E">PREFIERO NO ESPECIFICAR</option>
        </select>
        <div *ngIf="sexo.invalid && sexo.touched">
          <small style="color: red">El campo SEXO es obligatorio.</small>
        </div>

        <label for="total">CORREO</label>
        <input
          type="email"
          name="correo"
          class="form-control"
          [(ngModel)]="usuario.correo"
          disabled=""
          required=""
        />

        <label for="fecha"
          >FECHA DE NACIMIENTO <small style="color: red">*</small></label
        >
        <input
          type="date"
          name="fechaNacimiento"
          class="form-control"
          placeholder="Ingresa la FECHA DE NACIMIENTO"
          [(ngModel)]="fechaString"
          (change)="calcularEdad()"
          required=""
          #fechaNacimiento="ngModel"
        />
        <div *ngIf="!esMayorDeEdad">
          <small style="color: red"
            >El usuario debe ser mayor de 18 años.</small
          >
        </div>
        <div *ngIf="fechaNacimiento.invalid && fechaNacimiento.touched">
          <small style="color: red"
            >El campo FECHA DE NACIMIENTO es obligatorio.</small
          >
        </div>

        <label for="clienteId">ROL <small style="color: red">*</small></label>
        <select
          name="rolId"
          class="form-control"
          [(ngModel)]="usuario.rolId"
          required=""
          #rol="ngModel"
        >
          @for (rol of roles; track rol.id) {

          <option [ngValue]="rol">{{rol.privilegio}}</option>
          }
        </select>
        <div *ngIf="rol.invalid && rol.touched">
          <small style="color: red">El campo ROL es obligatorio.</small>
        </div>
      </div>
      <div class="card-footer" style="text-align: center">
        <button class="btn btn-outline-warning" [disabled]="!esMayorDeEdad">
          EDITAR
        </button>
      </div>
    </div>
  </form>
</div>
